Xft.dpi:       102
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintsfull
Xft.lcdfilter: lcddefault

Xcursor.theme:    Adwaita
Xcursor.size:     0

URxvt.scrollBar:      off
URxvt.font:           xft:monospace:size=11
URxvt.internalBorder: 16

*background:  #191c30
*foreground:  #C8DAEF
*cursorColor: #333559
*color0:      #282A36
*color8:      #7262a8
*color1:      #E72D2D
*color9:      #ED4781
*color2:      #2DF0A7
*color10:     #94F2E7
*color3:      #dd4400
*color11:     #EEAA22
*color4:      #7AA5FF
*color12:     #9DCBFF
*color5:      #AE81FF
*color13:     #aa99ff
*color6:      #3FDCEE
*color14:     #94F2E7
*color7:      #BEBEC1
*color15:     #FDF6E3
